# EditorConfig file for Open-TEE project

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C source files use Linux kernel style
[*.[ch]]
indent_style = tab
indent_size = 8
trim_trailing_whitespace = true

[*.sym]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab
